@import '../../../styles/customMediaQueries.css';

.root {
}

.content {
  display: flex;
  flex-direction: row;
}

.avatar {
  flex-shrink: 0;
  margin-right: 36px;
}

.info {
  flex: 1;
}

.heading {
  composes: p from global;
  margin: 0;

  @media (--viewportMedium) {
    margin: 0;
  }
}

.link {
  white-space: nowrap;
  color: black;
}
.link:hover {
  white-space: nowrap;
  color: white;
}

.mobileBio,
.desktopBio {
  /* Preserve newlines, but collapse other whitespace */
  white-space: pre-line;
  margin: 18px 0 0 0;
  transition: all 1s ease-in;

  @media (--viewportMedium) {
    margin: 0;
  }
}

.mobileBio {
  @media (--viewportMedium) {
    display: none;
  }
}

.desktopBio {
  display: none;

  @media (--viewportMedium) {
    display: inline;

    &::before {
      content: ' ';
    }
  }
}

.showMore {
  /* Position and dimensions */
  display: inline;
  padding: 0;

  /* Borders */
  border: none;

  /* Colors */
  color: var(--marketplaceColor);

  /* Text size should be inherited */
  text-decoration: none;

  font-weight: var(--fontWeightMedium);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;

  margin: 0 0 0 5px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @media (--viewportMedium) {
    font-weight: var(--fontWeightMedium);
    /* margin-top + n * line-height + margin-bottom => x * 8px */
    margin-top: 17px;
    margin-bottom: 15px;
  }
}

.links {
  margin-top: 13px;

  @media (--viewportMedium) {
    margin: 16px 0 0 0;
  }
}

.withBioMissingAbove {
  @media (--viewportMedium) {
    /* Fix baseline alignment if bio is missing from above */
    margin-top: 16px;
  }
}

.linkSeparator {
  margin: 0 10px;
  color: var(--marketplaceColor);
}

.headingRow {
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
  }
}

.displayName {
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 5px;
}

.editProfileDesktop {
  composes: p from global;
  display: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;

  @media (--viewportMedium) {
    display: inline;
  }
}

.editProfileMobile {
  composes: p from global;
  display: inline;

  @media (--viewportMedium) {
    display: none;
  }
}

.contact {
  /* Position and dimensions */
  display: inline;
  padding: 0;

  /* Borders */
  border: none;

  /* Colors */
  /* color: var(--marketplaceColor); */
  color: black;

  /* Text size should be inherited */
  text-decoration: none;

  font-weight: 600;
  /* font-size: 16px; */
  line-height: 24px;
  letter-spacing: 0;
  margin: 0;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @media (--viewportMedium) {
    /* font-weight: var(--fontWeightMedium); */
    font-weight: 600;
    margin: 0;
  }
}

.contact:hover {
  color: white;
}

.aboutTitle {
  font-size: 1.1rem;
  font-weight: 700;
  color: black;
  margin: 40px 0 20px 0;
  padding: 0;
}

.buttonQ {
  border: 1px solid black;
  background-color: white;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  /* border-width: 0px; */
  width: 130px;
  height: 50px;
}

.buttonQ:hover {
  border: 0px solid black;
  background-color: #4e6228;
  /* color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  border-width: 0px;
  width: 130px;
  height: 50px; */
}
