.section9 {
  padding: 50px 0;
  color: black;
}

.brands {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;

  @media (max-width: 768px) {
    grid-template-columns: auto auto;
  }

  gap: 50px;
}

.brands img {
  max-height: 100px;
  max-width: 200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-height: 50px;
    max-width: 150px;
  }
}
