.section6 {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 30px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .detail {
    background-color: #f6f2ee;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    p {
      font-size: 1rem;
      margin-bottom: 20px;
    }

    button {
      padding: 15px 30px;
      border: none;
      background-color: #3e714b;
      border-radius: 40px;
      color: white;
      cursor: pointer;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 100%;
  }
}
