.section5 {
  background-color: #f5f5f5;
  padding: 50px 0;
  color: black;

  p {
    font-size: 1.2rem;
    margin: 0;
  }

  .items {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;

    @media (max-width: 768px) {
      gap: 20px;
      grid-template-columns: auto auto;
    }

    .item-card {
      width: 100%;

      .thumbnail {
        padding: 20px;
        width: 100%;
        background: #e4e9e6;
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 20px;

        img {
          height: 250px;

          @media (max-width: 768px) {
            height: 200px;
          }
        }

        .heart {
          border: 2px solid black;
          padding: 5px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          color: black;
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 20px;
          cursor: pointer;
        }
      }

      .detail {
        padding-top: 10px;
        h4 {
          margin: 0px;
        }
        p {
          margin: 0;
          font-size: 1rem;
        }
      }
    }
  }

  .view-more-btn {
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 15px 60px;
    color: white;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    a {
      padding: 10px 20px;
      background-color: #637441;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      transition: 0.3s;
      &:hover {
        background-color: #4d5d2f;
      }
    }

    @media (max-width: 768px) {
      padding: 10px 50px;
    }
  }
}
