.section11 {
  padding: 50px 0;
  color: black;
  background-color: #f6f2ee;

  .items {
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    @media (max-width: 768px) {
      grid-template-columns: auto auto auto;
    }

    .item {
      margin-bottom: 20px;
      cursor: pointer;
      text-decoration: underline;

      @media (max-width: 768px) {
        margin-bottom: 10px;
      }

      h5 {
        font-size: 20px;
        margin-bottom: 10px;
        margin: 0px;

        @media (max-width: 768px) {
          font-size: 16px;
          margin-bottom: 0px;
        }
      }
      p {
        font-size: 14px;
        margin-bottom: 10px;
        margin: 0px;
      }
    }
  }
}
