.section9 {
  padding: 50px 0;
  color: black;

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0px;
    line-height: 1.2;
  }

  .brands {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;

    @media (max-width: 768px) {
      grid-template-columns: auto auto;
    }

    gap: 50px;

    img {
      width: 100%;
    }
  }
}
