.section7 {
  padding: 50px 0;
  color: black;

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0px;
  }

  .items {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      width: 30%;
      text-align: center;

      img {
        width: 100%;
      }

      h3 {
        margin: 20px 0;
      }
    }
  }
}
