.trending_courses {
  padding: 50px 0;
  color: black;
}

.items {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
}

.item {
  width: 30%;
  text-align: center;
}

.season_img {
  width: 100%;
  border-radius: 20px;
}

h3 {
  margin: 20px 0;
}
