@import '../../../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--colorFail);
}

.input {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.submitButton {
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: 24px;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }

  @media (max-width: 768px) {
    display: inline-block;
    /* width: 241px; */
    margin-top: 5px;
    min-height: 45px !important;
  }
}

.buttonItems {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @media (max-width: 768px) {
  }
}

.addOnItems {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 40px; */
}

.itemAttributes {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    grid-template-columns: auto auto;
    gap: 10px;
  }
}

.itemsAddOn {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    grid-auto-rows: minmax(50px, auto);
  }
}

.item1 {
  flex: 3;

  @media (max-width: 768px) {
    grid-column: 1 / 3;
    grid-row: 1;
  }
}

.item2 {
  flex: 4;

  @media (max-width: 768px) {
    grid-column: 1 / 3;
    grid-row: 2;
  }
}

.item3 {
  flex: 5;

  @media (max-width: 768px) {
    grid-column: 3 / 6;
    grid-row: 2;
  }
}

.item4 {
  flex: 5;

  @media (max-width: 768px) {
    grid-column: 1 / 4;
    grid-row: 3;
  }
}

.item5 {
  flex: 3;

  @media (max-width: 768px) {
    grid-column: 4 / 6;
    grid-row: 3;
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgb(219, 210, 210);
  margin-bottom: 15px;
  margin-top: 15px;
}

.addButton {
  background-color: white; /* Green background color */
  height: 40px;
  width: 7%;
  border-color: #4e6228;
  border-width: 2px;
  border-style: solid;
  color: #4e6228;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-right: 10px; /* Adjust margin as needed */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  margin-bottom: 30px;
  @media (max-width: 768px) {
    height: 35px;
    width: 20%;
  }
}

.addButton:hover {
  background-color: #1c270866; /* Darker green on hover 313e19 */
}

.removeButton {
  position: relative;
  border-color: white;
  border-width: 0;
  transition: transform 0.3s;
  @media (max-width: 768px) {
    grid-column: 3 / 4;
    grid-row: 1;
    width: 45px;
    height: 35px;
  }
}

.removeButton:hover {
  transform: translate(2px, 2px);
  color: red;
  cursor: pointer;
}

.removeButton:hover::after {
  transform: translate(2px, 2px);
  color: black;
  content: 'Remove';
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 5px;
  background-color: #e5e3e3;
  border-radius: 5px;
  font-size: 12px;
}
