@import '../../../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--colorFail);
}

.input {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    display: inline-block;
    /* width: 241px; */
    margin-top: 5px;
    min-height: 45px !important;
  }
}

.buttonItems {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;

  @media (max-width: 768px) {
  }
}

.priceMainItems {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 40px;
  gap: 40px;

  @media (max-width: 768px) {
    gap: 20px;
  }
}

.mainPrice {
  width: 25%;

  @media (max-width: 768px) {
    width: 40%;
  }
}

.perDay {
  font-size: x-large;
  margin-top: 10px;

  @media (max-width: 768px) {
    font-size: larger;
    margin-top: 5px;
  }
}

.discounts {
  font-size: x-large;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    font-size: larger;
  }
}

.dayDiscount {
  width: 20%;

  @media (max-width: 768px) {
    width: 40%;
  }
}

.policyTitle {
  font-size: large;
  font-weight: 700;
  margin-bottom: 10px;
}
.policyDetail {
  font-weight: 400;
  font-size: medium;
  margin-bottom: 30px;
}

.checkBox {
  display: grid;
  grid-template-columns: 2% auto;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  @media (max-width: 768px) {
    grid-template-columns: 7% auto;
  }
  .checkOne {
    grid-column: 1;
    grid-row: 1;
    .checkPolicy {
      width: 22px;
      height: 22px;
      @media (max-width: 768px) {
        height: 17px;
        width: 17px;
      }
    }
  }
  .policyTitle {
    grid-column: 2;
    grid-row: 1;
    font-size: large;
    margin-bottom: 0px;
  }
  .policyDetail {
    grid-column: 2;
    grid-row: 2;
    font-size: medium;
    margin-bottom: 0px;
  }
}
