.questionContainer {
  padding: 50px 0 50px 0;
  margin: 0 0 0px 0;
  background-color: #f6f1ef;
}

.questionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.title {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  line-height: 6rem;

  @media (max-width: 1280px) {
    font-size: 4rem;
    line-height: 5rem;
  }

  @media (max-width: 1024px) {
    font-size: 3rem;
    line-height: 4rem;
  }

  @media (max-width: 768px) {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputContent {
  background-color: transparent;
  border:#526130 solid 1px;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: larger;
}

input::placeholder {
  color: black;
}

.listBtn {
  background-color: #526130;
  width: 500px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
}
