.section8 {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 50px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.detail {
  background-color: #f6f2ee;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.list {
  padding-left: 20px;

  @media (max-width: 768px) {
    padding-left: 0;
  }
}

.list li {
  display: flex;
  align-items: center;
  gap: 3px;

  svg {
    color: green;
    font-weight: bold;
  }
}

.start_listing_btn {
  padding: 15px 30px;
  border: none;
  background-color: #3e714b;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  width: 100%;
}
