.section7 {
  padding: 50px 0;
  color: black;
}

.items {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  width: 30%;
  text-align: center;
}

.season_img {
  width: 100%;
  height: 430px;

  @media (max-width: 768px) {
    height: 160px;
  }
}

h3 {
  margin: 20px 0;
  text-decoration: underline;
}
