@import '../../../../styles/customMediaQueries.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--colorFail);
}

.input {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    display: inline-block;
    /* width: 241px; */
    margin-top: 5px;
    min-height: 45px !important;
  }
}

.buttonItems {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;

  @media (max-width: 768px) {
  }
}

.priceMainItems {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 40px;
  gap: 40px;

  @media (max-width: 768px) {
    gap: 20px;
  }
}

.mainPrice {
  width: 25%;

  @media (max-width: 768px) {
    width: 40%;
  }
}

.perDay {
  font-size: x-large;
  margin-top: 10px;

  @media (max-width: 768px) {
    font-size: larger;
    margin-top: 5px;
  }
}

.discounts {
  font-size: x-large;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    font-size: larger;
  }
}

.dayDiscount {
  width: 20%;

  @media (max-width: 768px) {
    width: 40%;
  }
}

.pickItems {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.pickTitle {
  font-size: large;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
}

.pickMedium {
  font-size: large;
  font-weight: 500;
  padding-right: 10px;
  @media (max-width: 768px) {
    padding-right: 0px;
  }
}

.pickSmall {
  font-size: 15px;
  font-weight: 500;
  padding-right: 10px;
  padding-left: 10px;
  @media (max-width: 768px) {
    padding-left: 3px;

    font-size: 13px;
    padding-right: 0px;
  }
}

.pickDetail {
  font-size: medium;
  font-weight: 400;
  margin-bottom: 30px;
}

.checkPick {
  width: 22px;
  height: 22px;
  @media (max-width: 768px) {
    height: 17px;
    width: 17px;
  }
}

.dist {
  width: 10%;
  @media (max-width: 768px) {
    width: 20%;
  }
}

.price {
  width: 14%;
  @media (max-width: 768px) {
    width: 30%;
  }
}

.costPerMile {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: 768px) {
    justify-content: left;
    gap: 8px;
  }
}

.pickupTime {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  margin-bottom: 5px;
  @media (max-width: 768px) {
    gap: 3px;
    display: block;
    margin-bottom: 14px;
  }
}

.pickDay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  width: 140px;
  padding-bottom: 8px;
}

.pickHours {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clickForSame {
  height: 20px;
  font-size: 1rem;
  border-bottom: 1px solid;
  width: 245px;
  margin-bottom: 4px;
  font-style: italic;
  transition: font-size 0.3s;
}

.clickForSame:hover {
  font-size: 0.9rem;
  border-bottom: 0px solid;
}
