@import '../../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
}

.bookingBreakdownTitle {
  letter-spacing: 1px;
  font-weight: var(--fontWeightMedium);
}

.totalDivider {
  /* dimensions */
  width: 100%;
  height: 1px;
  margin: 12px 0 5px 0;

  border: none;
  background-color: var(--colorGrey100);

  @media (--viewportMedium) {
    margin: 7px 0 0px 0;
  }
}

.bookingDates {
  flex-shrink: 0;

  /* Ensure that calendar dropdown gets some stacking context relative to other form items below */
  z-index: 1;
}

.priceBreakdownContainer {
  padding: 0 24px;
  margin-top: 24px;

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 15px;
  }

  @media (max-width: 768px) {
    margin-bottom: 25px;
  }
}

.error {
  color: var(--colorFail);
  margin: 0 24px;
  display: inline-block;
}

.sideBarError {
  composes: h4 from global;
  color: var(--colorFail);
  margin: 0 24px 12px 24px;

  @media (--viewportMedium) {
    margin: 24px 0 12px 0;
  }
}

.finePrint {
  composes: marketplaceTinyFontStyles from global;
  text-align: center;
}

.submitButton {
  padding: 0 24px;
  margin-top: 24px;

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 35px;
  }
}

.arrowIcon {
  stroke: var(--colorWhite);
  fill: var(--colorWhite);
}

.helmetFeeContainer {
  margin-top: 24px;
}

.deliverFeeContainer {
  margin-top: 24px;
}

.addOnContainer {
  margin-top: 5px;
  @media (max-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.addOnTitle {
  font-weight: 600;
  color: #090808;
  font-family: 'Arial Black', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 1.15rem;
  /* z-index: 10; */
  position: relative;
  margin-bottom: 10px;
  text-align: start;
  margin-top: 10px;
  /* padding-left: 20px; */

  @media (max-width: 768px) {
    font-size: 1.4rem;
    padding-left: 20px;
    /* text-align: center; */
  }
}

.packageTitle {
  font-weight: 400;
  color: #090808;
  font-family: 'Arial Black', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 1.15rem;
  /* z-index: 10; */
  position: relative;
  margin-bottom: 10px;
  text-align: start;
  margin-top: 10px;
  /* padding-left: 20px; */

  @media (max-width: 768px) {
    font-size: 1.4rem;
    padding-left: 20px;
    margin-top: 20px;
  }
}

.pickUpDeliveryTitle {
  font-weight: 400;
  color: #090808;
  font-family: 'Arial Black', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 1.15rem;
  /* z-index: 10; */
  position: relative;
  margin-bottom: 10px;
  text-align: start;
  margin-top: 30px;
  /* padding-left: 20px; */

  @media (max-width: 768px) {
    font-size: 1.4rem;
    padding-left: 20px;
    margin-top: 20px;
  }
}

.DeliveryTimeTitle {
  font-weight: 400;
  color: #090808;
  font-family: 'Arial Black', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 1.15rem;
  /* z-index: 10; */
  position: relative;
  margin-bottom: 10px;
  text-align: start;
  margin-top: -15px;
  /* padding-left: 20px; */

  @media (max-width: 768px) {
    font-size: 1.4rem;
    padding-left: 20px;
    margin-top: 20px;
  }
}

.pickDelieryOption {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: 768px) {
    padding-left: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
}

.pickDelieryLabel {
  width: 30%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
}

.locationAddress {
  flex-shrink: 0;
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }

  @media (max-width: 768px) {
    padding: 0 20px 0 20px;
  }
}

.locationAutocompleteInput {
  /* border-radius: 15px;
  @media (max-width: 768px) {
    border-radius: 10px;
  } */
}

.locationAutocompleteInputIcon {
  display: none;
}

.predictionsRoot {
  position: absolute;
  width: 100%;
  top: 36px;
  left: 0;
  background-color: var(--marketplaceColor);
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  box-shadow: var(--boxShadowPopup);
  z-index: calc(var(--zIndexPopup) + 1);

  @media (--viewportMedium) {
    top: 40px;
  }
}

.validLocation {
}

.pickDeliveryWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
